.search {
	position:fixed;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	
}
.gLogo {
            position:fixed;
            top:35%;
            left:50%;
            transform: translate(-50%, -50%);
}
body {
	font-size:12px;
	margin:0;
}
.top-nav {
	list-style-type: none;
	margin: 0;
	padding:0;
	top:0;


}

nav.bottom-nav {
	padding:10px 35px 10px 35px;
	border:1px solid #e4e4e4;
	border-left:0;
	border-right:0;
}
footer {
	position:absolute;
       	bottom:0;
	width:100%;
	background-color:#f2f2f2;
}

li {
	display:inline;
	padding-right:30px;
}
a:link {
	text-decoration:none;
	color:inherit;
}
a:visited {
	text-decoration:none;
	color:inherit;

}
a:hover {
	text-decoration:underline;
	color:inherit;

}
a:active {
	text-decoration:none;
	color:inherit;

}
input[type=text] {
	border-radius: 0;
	color: #222222;
	padding:1.3rem 5rem, 1.3rem 5rem;
	width:100;
	border-width:0px;
	font-size:1.6rem;
	margin-left:0.6rem;
	box-sizing:border-box;
	box-shadow: rgba(0,0,0,0.16) 0px 2px 2px 0px, rgba(0,0,0,0.08) 0px 0px 0px 1px;
}
input[type=text]:hover {
	border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
}

input[type=text]:focus {
	border-color:#4d90fe;
}
.searchButtonHolder{
	text-align:center;
}
.swahili {
	text-align:center;
}
input[type="submit"] {
	border-radius:2px;
	background:#f2f2f2;
	border:1px solid #f2f2f2;
	color: #757575;
	cursor:default;
	font-size:14px;
	font-weight:bold;
	width:140px;
	padding:0 16px;
	height:36px;
}
input[type="submit"]:hover {
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	background:#f8f8f8;
	border: 1px solid #c6c6c6;
	color:#222;
}
.apps {
	width:auto;
	height:auto;
	display:block;
	max-width:50px;
	max-height:25px;
}
.notification {
	width:auto;
	height:auto;
	display:block;
	max-width:50px;
	max-height:25px;
	background:#f2f2f2;
	border:#f2f2f2;
	color:#757575;
	cursor:default;
}

.notification:hover {
	box-shadow:0 1px 1px rgba(0,0,0,0.1);
	background:#f8f8f8;
	border:1px solid #c6c6c6;
	color:#222;
}
.loc {
	padding: 10px 35px 10px 35px;
	border:1px solid #e4e4e4;
	border-left:0;
	border-right:0;
}
