.search {
	width:584px;
	height:44px;
	border:solid 1px #d0caca;
	margin: 0 auto;
	border-radius:3px;
	box-shadow:0px 2px 1px 0px rgba(1,1,0,.15);
	
}
.search-container {
	position:fixed;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
}

.gLogo {
            position:fixed;
            top:35%;
            left:50%;
            transform: translate(-50%, -50%);
}
body {
	font-size:12px;
	margin:0;
}
.top-nav {
	list-style-type: none;
	margin: 0;
	padding:0;
	top:0;


}

nav.bottom-nav {
	padding:10px 35px 10px 35px;
	border:1px solid #e4e4e4;
	border-left:0;
	border-right:0;
}
footer {
	position:absolute;
       	bottom:0;
	width:100%;
	background-color:#f2f2f2;
}

li {
	display:inline;
	padding-right:30px;
	padding-left:30px;
}
a:link {
	text-decoration:none;
	color:inherit;
}
a:visited {
	text-decoration:none;
	color:inherit;

}
a:hover {
	text-decoration:underline;
	color:inherit;

}
a:active {
	text-decoration:none;
	color:inherit;

}
input[type=text] {
	border: none 0;
	width:525px;
	height:34px;
	font-size:1em;
	outline:none;
}
input[type=text]:hover {
	border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
}

input[type=text]:focus {
	border-color:#4d90fe;
}
.searchButtonHolder{
	text-align:center;
}

.swahili {
	text-align:center;
}

input[type="submit"] {
	border-radius:2px;
	background:#f2f2f2;
	border:1px solid #f2f2f2;
	color: #757575;
	cursor:default;
	font-size:14px;
	font-weight:bold;
	width:140px;
	padding:0 16px;
	height:36px;
}

input[type="submit"]:hover {
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	background:#f8f8f8;
	border: 1px solid #c6c6c6;
	color:#222;
}

.apps {
	width:auto;
	height:auto;
	display:block;
	max-width:50px;
	max-height:25px;
}

.notification {
	width:auto;
	height:auto;
	display:block;
	max-width:50px;
	max-height:25px;
	background:#f2f2f2;
	border:#f2f2f2;
	color:#757575;
	cursor:default;
}

.loc {
	padding: 10px 35px 10px 35px;
	border:1px solid #e4e4e4;
	border-left:0;
	border-right:0;
}

form {
	display:inline-block;
	padding:4px 0 0 15px;
}
